        <input type = "hidden" name ="Libelle1" value ="<%=request.getAttribute("Libelle1") %>" >
        <input type = "hidden" name ="Indication1" value ="<%=request.getAttribute("Indication1") %>" >
        <input type = "hidden" name ="Substance1" value ="<%=request.getAttribute("Substance1") %>" >
        <input type = "hidden" name ="Fabricant1" value ="<%=request.getAttribute("Fabricant1") %>" >
        <input type = "hidden" name ="Duree1" value ="<%=request.getAttribute("Duree1") %>" >
        <input type = "hidden" name ="Date1" value ="<%=request.getAttribute("Date1") %>" >

        <input type = "hidden" name ="Libelle2" value ="<%=request.getAttribute("Libelle2") %>" >
        <input type = "hidden" name ="Indication2" value ="<%=request.getAttribute("Indication2") %>" >
        <input type = "hidden" name ="Substance2" value ="<%=request.getAttribute("Substance2") %>" >
        <input type = "hidden" name ="Fabricant2" value ="<%=request.getAttribute("Fabricant2") %>" >
        <input type = "hidden" name ="Duree2" value ="<%=request.getAttribute("Duree2") %>" >
        <input type = "hidden" name ="Date2" value ="<%=request.getAttribute("Date2") %>" >

        <input type = "hidden" name ="Libelle3" value ="<%=request.getAttribute("Libelle3") %>" >
        <input type = "hidden" name ="Indication3" value ="<%=request.getAttribute("Indication3") %>" >
        <input type = "hidden" name ="Substance3" value ="<%=request.getAttribute("Substance3") %>" >
        <input type = "hidden" name ="Fabricant3" value ="<%=request.getAttribute("Fabricant3") %>" >
        <input type = "hidden" name ="Duree3" value ="<%=request.getAttribute("Duree3") %>" >
        <input type = "hidden" name ="Date3" value ="<%=request.getAttribute("Date3") %>" >

        <input type = "hidden" name ="Libelle4" value ="<%=request.getAttribute("Libelle4") %>" >
        <input type = "hidden" name ="Indication4" value ="<%=request.getAttribute("Indication4") %>" >
        <input type = "hidden" name ="Substance4" value ="<%=request.getAttribute("Substance4") %>" >
        <input type = "hidden" name ="Fabricant4" value ="<%=request.getAttribute("Fabricant4") %>" >
        <input type = "hidden" name ="Duree4" value ="<%=request.getAttribute("Duree4") %>" >
        <input type = "hidden" name ="Date4" value ="<%=request.getAttribute("Date4") %>" >

        <input type = "hidden" name ="Libelle5" value ="<%=request.getAttribute("Libelle5") %>" >
        <input type = "hidden" name ="Indication5" value ="<%=request.getAttribute("Indication5") %>" >
        <input type = "hidden" name ="Substance5" value ="<%=request.getAttribute("Substance5") %>" >
        <input type = "hidden" name ="Fabricant5" value ="<%=request.getAttribute("Fabricant5") %>" >
        <input type = "hidden" name ="Duree5" value ="<%=request.getAttribute("Duree5") %>" >
        <input type = "hidden" name ="Date5" value ="<%=request.getAttribute("Date5") %>">